*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Pacifico", cursive;
}
body {
  background-image: linear-gradient(to top, #60a3bc, #4b8094);
}
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin: 0 2rem;
  color: #ffba5d;
}
button:active,
:focus {
  outline: none;
}
